sudo: false
language: python


python:
  - "2.7"
  - "3.5"
  - "3.6"

env:
  global:
    - BEHAVE_WEBDRIVER_HEADLESS=1
  matrix:
    - BEHAVE_WEBDRIVER=Chrome
    - BEHAVE_WEBDRIVER=Firefox
    - BEHAVE_WEBDRIVER=Safari


addons:
  chrome: stable
  firefox: latest

matrix:
  include:
    - os: osx
      language: generic
      python:
      env:
        - BEHAVE_WEBDRIVER=Safari

  fast_finish: true
  exclude:
    - os: linux
      env: BEHAVE_WEBDRIVER=Safari
    - python: 3.5
      env: BEHAVE_WEBDRIVER=Firefox
  allow_failures:
    - env: BEHAVE_WEBDRIVER=Firefox

install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then sudo safaridriver --enable; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew upgrade python --enable; fi
  - if [ "${BEHAVE_WEBDRIVER}" = "Firefox" ]; then wget https://github.com/mozilla/geckodriver/releases/download/v0.20.0/geckodriver-v0.20.0-linux64.tar.gz; fi
  - if [ "${BEHAVE_WEBDRIVER}" = "Firefox" ]; then tar -xvzf ./geckodriver-v0.20.0-linux64.tar.gz; fi
  - if [ "${BEHAVE_WEBDRIVER}" = "Firefox" ]; then rm ./geckodriver-v0.20.0-linux64.tar.gz; fi
  - if [ "${BEHAVE_WEBDRIVER}" = "Firefox" ]; then chmod +x ./geckodriver; fi
  - if [ "${BEHAVE_WEBDRIVER}" = "Chrome" ]; then wget -N http://chromedriver.storage.googleapis.com/2.36/chromedriver_linux64.zip -P ./; fi
  - if [ "${BEHAVE_WEBDRIVER}" = "Chrome" ]; then unzip ./chromedriver_linux64.zip -d ./; fi
  - if [ "${BEHAVE_WEBDRIVER}" = "Chrome" ]; then rm ./chromedriver_linux64.zip; fi
  - if [ "${BEHAVE_WEBDRIVER}" = "Chrome" ]; then chmod +x ./chromedriver; fi
  - python3 -m pip install -r ./requirements.txt
  - python3 -m pip install coveralls pytest mock

script:
  - cd tests/demo-app
  - python ./runserver.py > /dev/null 2>&1 &
  - cd ../..
  - coverage run -m behave tests/features
  - coverage run -a -m pytest tests/unittests

after_success:
  - coveralls

deploy:
  provider: pypi
  user: "spyoungtech"
  password:
    secure: "oj3Yvv150E+ExDCxYkeXdwH3+jXmrQbJFK9ic+DHwFBmN8wb0IbjcjtBTu+VOotiEfHZjUuK8Ok44bYvsLIka0Zzt8pY52KREFXEwLh63IYottccerE9VmzQUvC87GWCsiLkmVR5O4ATM31byOFk9MmxIrWy3qhoNNJvQSTcW/HMDIweJUnqHQ10KS/7IkxHZiW1Efe3KKIr9cjOWiXAX/xjmSD7DzEVpENT4BvvwrBnDO2JY+CROHmsO8X2FqjriNn2BCLZK1rd3FXS/hcb698V4nZdTNd63f8twmuPk/owr2dQiexiAhZPQKHj8KBZ6fyn80uOuHHc/44U4rWf+699Q4nq2vYDCaLA2drl3PAPZg65HjWumVQKKYCddY1by52iumJ0fFdPqB7dERqWIvHzCERkwJvsZtzxQ8QV7CUENyS5v398/wUdaOqhRD+MMHG6ZS4Zuhr/wurrJrcX3KjAffY3dVN6uEzTq57JoYX9zrMysKQRyUsGUiNC7e008vRm8rSIEoX4Kc/NqqY+em+wKLuhvxGyDZ9Sd731BgtCQPNj+DFBvk55taXKw78NlCwl03pFCRXKTWoy1nZKYoStQmizy9d44dqua12NV2EOYHzK6+WddM6xJnuVFaWxqcV/vesL/6ekJw8wZI3Q0ud3d0Ws1zSxfyjJt4OchZQ="
  on:
    tags: true
    python: 3.6
    env: BEHAVE_WEBDRIVER=Chrome

