alabaster==0.7.10
Babel==2.5.3
behave==1.2.6
certifi==2022.12.7
chardet==3.0.4
colorama==0.3.9
coverage==4.5
docutils==0.14
idna==2.6
imagesize==0.7.1
Jinja2>=2.10.1
MarkupSafe==1.0
parse==1.8.2
parse-type==0.4.2
Pygments==2.2.0
pytz==2017.3
requests>=2.21.0
selenium==3.9.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.7
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
urllib3>=1.23
